In [3]:
import numpy as np
import pandas as pd
import wbdata
#import plotly.graph_objects as go
#The usual suspects

In [4]:
alpha3codedict = {'Afghanistan':'AFG', 'Albania':'ALB', 'Algeria':'DZA', 'Angola':'AGO', 'Argentina':'ARG', 'Armenia':'ARM', 
                  'Australia':'AUS', 'Azerbaijan':'AZE', 'Bahamas':'BHS', 'Bangladesh':'BGD', 'Barbados':'BRB', 'Belarus':'BLR',
                  'Belize':'BLZ', 'Benin':'BEN', 'Bhutan':'BTN', 'Bolivia (Plurinational State of)':'BOL', 
                  'Bosnia and Herzegovina':'BIH', 'Botswana':'BWA', 'Brazil':'BRA', 'Brunei Darussalam':'BRN', 
                  'Bulgaria':'BGR', 'Burkina Faso':'BFA', 'Burundi':'BDI', 'Cabo Verde':'CPV', 'Cambodia':'KHM', 
                  'Cameroon':'CMR', 'Central African Republic':'CAF', 'Chad':'TCD', 'Chile':'CHL', 'China':'CHN', 
                  'Colombia':'COL', 'Comoros':'COM', 'Congo':'COG', 'Costa Rica':'CRI', "Côte d'Ivoire":'CIV', 'Croatia':'HRV', 
                  'Cuba':'CUB', 'Czechia':'CZE', 'Democratic Republic of the Congo':'COD', 'Denmark':'DNK', 'Djibouti':'DJI', 
                  'Dominican Republic':'DOM', 'Ecuador':'ECU', 'Egypt':'EGY', 'El Salvador':'SLV', 'Equatorial Guinea':'GNQ', 
                  'Eritrea':'ERI', 'Estonia':'EST', 'Eswatini':'SWZ', 'Ethiopia':'ETH', 'Finland':'FIN', 'France':'FRA', 'Gabon':'GAB', 
                  'Gambia':'GMB', 'Georgia':'GEO', 'Germany':'DEU', 'Ghana':'GHA', 'Guatemala':'GTM', 'Guinea':'GIN', 'Guinea-Bissau':'GNB', 
                  'Guyana':'GUY', 'Haiti':'HTI', 'Honduras':'HND', 'Hungary':'HUN', 'Iceland':'ISL', 'Indonesia':'IDN', 
                  'Iran (Islamic Republic of)':'IRN', 'Ireland':'IRL', 'Italy':'ITA', 'Jamaica':'JAM', 'Japan':'JPN', 'Jordan':'JOR',
                  'Kazakhstan':'KAZ', 'Kenya':'KEN', 'Kuwait':'KWT', 'Kyrgyzstan':'KGZ', "Lao People's Democratic Republic":'LAO', 
                  'Latvia':'LVA', 'Lebanon':'LBN', 'Lesotho':'LSO', 'Liberia':'LBR', 'Libya':'LBY', 'Luxembourg':'LUX', 'Madagascar':'MDG', 
                  'Malawi':'MWI', 'Malaysia':'MYS', 'Mali':'MLI', 'Mauritania':'MRT', 'Mauritius':'MUS', 'Mexico':'MEX', 'Mongolia':'MNG', 
                  'Montenegro':'MNE', 'Morocco':'MAR', 'Mozambique':'MOZ', 'Myanmar':'MMR', 'Namibia':'NAM', 'Nepal':'NPL', 'New Zealand':'NZL',
                  'Nicaragua':'NIC', 'Niger':'NER', 'Nigeria':'NGA', 'Norway':'NOR', 'Oman':'OMN', 'Pakistan':'PAK', 'Panama':'PAN', 
                  'Papua New Guinea':'PNG', 'Paraguay':'PRY', 'Peru':'PER', 'Philippines':'PHL', 'Portugal':'PRT', 'Qatar':'QAT', 
                  'Republic of Moldova':'MDA', 'Romania':'ROU', 'Rwanda':'RWA', 'Saudi Arabia':'SAU', 'Senegal':'SEN', 'Serbia':'SRB', 
                  'Sierra Leone':'SLE', 'Singapore':'SGP', 'Slovakia':'SVK', 'Somalia':'SOM', 'South Africa':'ZAF', 'South Sudan':'SSD', 
                  'Spain':'ESP', 'Sri Lanka':'LKA', 'Sudan':'SDN', 'Suriname':'SUR', 'Switzerland':'CHE', 'Syrian Arab Republic':'SYR', 
                  'Tajikistan':'TJK', 'Thailand':'THA', 'Republic of North Macedonia':'MKD', 'Togo':'TGO', 'Tunisia':'TUN', 
                  'Uganda':'UGA', 'Ukraine':'UKR', 'United Republic of Tanzania':'TZA', 'Uruguay':'URY', 'Uzbekistan':'UZB', 
                  'Viet Nam':'VNM', 'Yemen':'YEM', 'Zambia':'ZMB', 'Zimbabwe':'ZWE'}

In [5]:
indicators = {"NY.GDP.PCAP.CD":"Gross Domestic Product perCap",
              "NY.GDP.MKTP.CD":"Gross Domestic Product",
              "SE.ADT.LITR.ZS":"Literacy Rate",
              "SH.MED.BEDS.ZS":"Hospital Beds",
              "SP.URB.TOTL.IN.ZS":"Urbanization",
              "SE.SEC.ENRR":"Secondary School Education",
             }
countries = list(alpha3codedict.values())
df = wbdata.get_dataframe(indicators,country=countries)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8580 entries, (Afghanistan, 2019) to (Zimbabwe, 1960)
Data columns (total 6 columns):
Gross Domestic Product perCap    6917 non-null float64
Gross Domestic Product           6920 non-null float64
Literacy Rate                    730 non-null float64
Hospital Beds                    2533 non-null float64
Urbanization                     8400 non-null float64
Secondary School Education       4558 non-null float64
dtypes: float64(6)
memory usage: 429.0+ KB

In [7]:
df.head()

                  Gross Domestic Product perCap  Gross Domestic Product  \
country     date
Afghanistan 2019                            NaN                     NaN
            2018                     520.896603            1.936297e+10
            2017                     556.302139            2.019176e+10
            2016                     547.228110            1.936264e+10
            2015                     578.466353            1.990711e+10

                  Literacy Rate  Hospital Beds  Urbanization  \
country     date
Afghanistan 2019            NaN            NaN           NaN
            2018       43.01972            NaN        25.495
            2017            NaN            NaN        25.250
            2016            NaN            NaN        25.020
            2015            NaN            0.5        24.803

                  Secondary School Education
country     date
Afghanistan 2019                         NaN
            2018                         NaN
            2017                    53.79764
            2016                    50.64540
            2015                    52.59281

In [32]:
df.loc(axis=0)[:,'2018'].loc(axis=1)['Literacy Rate']

country       date
Afghanistan   2018    43.01972
Angola        2018         NaN
Albania       2018    98.14115
Argentina     2018    99.00387
Armenia       2018         NaN
                        ...
Vietnam       2018    95.00038
Yemen, Rep.   2018         NaN
South Africa  2018         NaN
Zambia        2018    86.74796
Zimbabwe      2018         NaN
Name: Literacy Rate, Length: 143, dtype: float64

In [33]:
dfcountrydata = df

In [34]:
dfcountrydata.update(df.groupby(level=0).bfill())

In [44]:
dfcountrydata.loc(axis=0)[:,('2018','2010','2005','2000')].head(52)

                   Gross Domestic Product perCap  Gross Domestic Product  \
country      date
Afghanistan  2018                     520.896603            1.936297e+10
             2010                     543.303042            1.585657e+10
             2005                     242.031379            6.209140e+09
             2000                     264.111317            3.478788e+09
Angola       2018                    3432.385736            1.057510e+11
             2010                    3587.883798            8.379950e+10
             2005                    1902.422346            3.697092e+10
             2000                     556.836318            9.129595e+09
Albania      2018                    5268.848504            1.510250e+10
             2010                    4094.362119            1.192696e+10
             2005                    2673.787283            8.052076e+09
             2000                    1126.683318            3.480355e+09
Argentina    2018                   11683.949622            5.198715e+11
             2010                   10385.964432            4.236274e+11
             2005                    5109.851325            1.987371e+11
             2000                    7708.100996            2.842038e+11
Armenia      2018                    4212.070943            1.243309e+10
             2010                    3218.372707            9.260285e+09
             2005                    1643.753029            4.900470e+09
             2000                     622.742139            1.911564e+09
Australia    2018                   57373.686684            1.433904e+12
             2010                   52022.125596            1.146138e+12
             2005                   33999.242858            6.934078e+11
             2000                   21679.247842            4.152226e+11
Azerbaijan   2018                    4721.178087            4.693953e+10
             2010                    5842.805784            5.290270e+10
             2005                    1578.402390            1.324572e+10
             2000                     655.097433            5.272617e+09
Burundi      2018                     271.752044            3.036932e+09
             2010                     234.235647            2.032135e+09
             2005                     151.681463            1.117113e+09
             2000                     136.463971            8.704861e+08
Benin        2018                     901.543871            1.035427e+10
             2010                     758.435083            6.977041e+09
             2005                     601.799977            4.803703e+09
             2000                     374.192394            2.569187e+09
Burkina Faso 2018                     715.122904            1.412478e+10
             2010                     575.446453            8.979967e+09
             2005                     406.998807            5.462709e+09
             2000                     226.475981            2.628920e+09
Bangladesh   2018                    1698.262802            2.740250e+11
             2010                     781.153594            1.152791e+11
             2005                     499.461940            6.944294e+10
             2000                     418.068968            5.336979e+10
Bulgaria     2018                    9272.629304            6.513295e+10
             2010                    6843.266950            5.061006e+10
             2005                    3869.529455            2.963662e+10
             2000                    1609.882452            1.315302e+10
Bahamas, The 2018                   32217.871590            1.242450e+10
             2010                   28443.407655            1.009576e+10
             2005                   30278.366922            9.836200e+09
             2000                   27097.610812            8.076470e+09

                   Literacy Rate  Hospital Beds  Urbanization  \
country      date
Afghanistan  2018      43.019720         0.5000        25.495
             2010      18.157681         0.4000        23.737
             2005      18.157681         0.4000        22.703
             2000      18.157681         0.3000        22.078
Angola       2018      66.030110         0.8000        65.514
             2010      67.405420         0.8000        59.783
             2005      67.405420         0.8000        56.000
             2000            NaN         1.2913        50.087
Albania      2018      98.141150         2.9000        60.319
             2010      95.938640         3.0000        52.163
             2005      98.712980         3.1000        46.731
             2000            NaN         3.3000        41.741
Argentina    2018      99.003870         5.0000        91.870
             2010      98.954970         4.5000        90.849
             2005      97.193310         4.0000        90.031
             2000      96.128197         4.1000        89.142
Armenia      2018      99.736070         4.2000        63.149
             2010      99.400160         3.7000        63.440
             2005      99.400160         4.5000        63.938
             2000      98.751961         6.4000        64.666
Australia    2018            NaN         3.8000        86.012
             2010            NaN         3.9000        85.182
             2005            NaN         4.0000        84.582
             2000            NaN         7.8000        84.235
Azerbaijan   2018      99.791230         4.7000        55.680
             2010      99.771140         5.1000        53.406
             2005      98.791801         8.2000        52.389
             2000      98.791801         8.7000        51.386
Burundi      2018      68.375330         0.8000        13.032
             2010      48.084060         0.7000        10.642
             2005      59.303620         0.6631         9.375
             2000      59.303620         0.6631         8.246
Benin        2018      42.362400         0.5000        47.312
             2010      28.702110         0.5000        43.093
             2005      34.657850         0.5000        40.543
             2000      27.245251         0.2336        38.333
Burkina Faso 2018      41.224450         0.4000        29.358
             2010      28.729210         0.4000        24.633
             2005      23.553720         1.4200        21.537
             2000      12.848170         1.4200        17.844
Bangladesh   2018      73.912200         0.8000        36.632
             2010      46.663600         0.3000        30.462
             2005      47.485500         0.3000        26.809
             2000      35.319302         0.3000        23.590
Bulgaria     2018      98.352450         6.8000        75.008
             2010      98.203560         6.5000        72.302
             2005      98.203560         6.4000        70.584
             2000            NaN         7.4000        68.899
Bahamas, The 2018            NaN         2.9000        83.025
             2010            NaN         3.1000        82.427
             2005            NaN         3.4000        82.218
             2000            NaN         3.5000        82.007

                   Secondary School Education
country      date
Afghanistan  2018                   53.797640
             2010                   50.567250
             2005                   18.616810
             2000                   20.822451
Angola       2018                   50.671480
             2010                   26.259220
             2005                   14.983590
             2000                   12.266280
Albania      2018                   95.432330
             2010                   88.103890
             2005                   77.909390
             2000                   71.078080
Argentina    2018                  108.733600
             2010                   99.501260
             2005                   92.760670
             2000                   95.936610
Armenia      2018                   83.150680
             2010                  104.713300
             2005                   92.054280
             2000                   92.151990
Australia    2018                  150.311500
             2010                  152.935974
             2005                  152.935974
             2000                  152.935974
Azerbaijan   2018                   94.480080
             2010                   73.849342
             2005                   73.849342
             2000                   73.849342
Burundi      2018                   48.465020
             2010                   23.290630
             2005                   12.983930
             2000                    6.918030
Benin        2018                   59.042520
             2010                   28.888600
             2005                   28.888600
             2000                   21.837770
Burkina Faso 2018                   40.709730
             2010                   21.902690
             2005                   14.298780
             2000                   10.422480
Bangladesh   2018                   72.690600
             2010                   51.637700
             2005                   46.962830
             2000                   49.763990
Bulgaria     2018                   99.677080
             2010                   90.226200
             2005                   89.228060
             2000                   92.787960
Bahamas, The 2018                   73.402470
             2010                   89.354630
             2005                   88.457930
             2000                   77.530807

In [8]:
df1 = pd.read_csv("data/data.csv")

In [9]:
df3 = pd.read_csv("data/data-2.csv")
df4 = pd.read_csv("data/data-3.csv")

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 7 columns):
Unnamed: 0                                                                    171 non-null object
Estimated antiretroviral therapy coverage among people living with HIV (%)    171 non-null object
Reported number of people receiving antiretroviral therapy                    171 non-null object
Estimated number of people (all ages) living with HIV                         171 non-null object
Estimated number of people (all ages) living with HIV.1                       171 non-null object
Estimated number of people (all ages) living with HIV.2                       171 non-null object
Estimated number of people (all ages) living with HIV.3                       171 non-null object
dtypes: object(7)
memory usage: 9.5+ KB

In [ ]:
df1.join(df,on=(df1.index,))

In [164]:
df0 = df1

In [165]:
df0.columns = ['Country','TherapyPercentage2018','TherapyNumber2018','HIV2018','HIV2010','HIV2005','HIV2000']

In [166]:
df2 = df0.loc[(df0['TherapyPercentage2018']!='No data')| (df0['TherapyNumber2018']!='No data')]
df2.drop(0,inplace=True)
df2.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Country,TherapyPercentage2018,TherapyNumber2018,HIV2018,HIV2010,HIV2005,HIV2000
1,Afghanistan,13 [7–20],920,7200 [4100–11 000],4200 [2500–6200],2900 [1700–5000],1600 [1000–3500]
2,Albania,No data,580,No data,No data,No data,No data
3,Algeria,81 [75–86],12 800,16 000 [15 000–17 000],7100 [6600–7600],3700 [3500–4000],1900 [1700–2000]
4,Angola,27 [23–31],88 700,330 000 [290 000–390 000],220 000 [180 000–250 000],150 000 [120 000–170 000],87 000 [72 000–110 000]
5,Argentina,61 [55–67],85 500,140 000 [130 000–150 000],110 000 [96 000–120 000],85 000 [76 000–94 000],64 000 [55 000–71 000]

In [167]:
df2.replace('No data',np.nan,inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [168]:
df2.head()

,Country,TherapyPercentage2018,TherapyNumber2018,HIV2018,HIV2010,HIV2005,HIV2000
1,Afghanistan,13 [7–20],920,7200 [4100–11 000],4200 [2500–6200],2900 [1700–5000],1600 [1000–3500]
2,Albania,NaN,580,NaN,NaN,NaN,NaN
3,Algeria,81 [75–86],12 800,16 000 [15 000–17 000],7100 [6600–7600],3700 [3500–4000],1900 [1700–2000]
4,Angola,27 [23–31],88 700,330 000 [290 000–390 000],220 000 [180 000–250 000],150 000 [120 000–170 000],87 000 [72 000–110 000]
5,Argentina,61 [55–67],85 500,140 000 [130 000–150 000],110 000 [96 000–120 000],85 000 [76 000–94 000],64 000 [55 000–71 000]

In [169]:
splitcol = df2.TherapyPercentage2018.str.split(' \[',expand=True)
splitcol.columns=['TherapyPercentage2018avg','TherapyPercentageRange']
df2=df2.join(splitcol)
df2.head()

,Country,TherapyPercentage2018,TherapyNumber2018,HIV2018,HIV2010,HIV2005,HIV2000,TherapyPercentage2018avg,TherapyPercentageRange
1,Afghanistan,13 [7–20],920,7200 [4100–11 000],4200 [2500–6200],2900 [1700–5000],1600 [1000–3500],13,7–20]
2,Albania,NaN,580,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,81 [75–86],12 800,16 000 [15 000–17 000],7100 [6600–7600],3700 [3500–4000],1900 [1700–2000],81,75–86]
4,Angola,27 [23–31],88 700,330 000 [290 000–390 000],220 000 [180 000–250 000],150 000 [120 000–170 000],87 000 [72 000–110 000],27,23–31]
5,Argentina,61 [55–67],85 500,140 000 [130 000–150 000],110 000 [96 000–120 000],85 000 [76 000–94 000],64 000 [55 000–71 000],61,55–67]

In [170]:
splitcol2 = df2.HIV2018.str.split(' \[',expand=True)
splitcol3 = df2.HIV2010.str.split(' \[',expand=True)
splitcol4 = df2.HIV2005.str.split(' \[',expand=True)
splitcol5 = df2.HIV2000.str.split(' \[',expand=True)
splitcol2.columns=['HIV2018avg','HIV2018range']
splitcol3.columns=['HIV2010avg','HIV2010range']
splitcol4.columns=['HIV2005avg','HIV2005range']
splitcol5.columns=['HIV2000avg','HIV2000range']
df2=df2.join(splitcol2).join(splitcol3).join(splitcol4).join(splitcol5)
df2.head()

,Country,TherapyPercentage2018,TherapyNumber2018,HIV2018,HIV2010,HIV2005,HIV2000,TherapyPercentage2018avg,TherapyPercentageRange,HIV2018avg,HIV2018range,HIV2010avg,HIV2010range,HIV2005avg,HIV2005range,HIV2000avg,HIV2000range
1,Afghanistan,13 [7–20],920,7200 [4100–11 000],4200 [2500–6200],2900 [1700–5000],1600 [1000–3500],13,7–20],7200,4100–11 000],4200,2500–6200],2900,1700–5000],1600,1000–3500]
2,Albania,NaN,580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,81 [75–86],12 800,16 000 [15 000–17 000],7100 [6600–7600],3700 [3500–4000],1900 [1700–2000],81,75–86],16 000,15 000–17 000],7100,6600–7600],3700,3500–4000],1900,1700–2000]
4,Angola,27 [23–31],88 700,330 000 [290 000–390 000],220 000 [180 000–250 000],150 000 [120 000–170 000],87 000 [72 000–110 000],27,23–31],330 000,290 000–390 000],220 000,180 000–250 000],150 000,120 000–170 000],87 000,72 000–110 000]
5,Argentina,61 [55–67],85 500,140 000 [130 000–150 000],110 000 [96 000–120 000],85 000 [76 000–94 000],64 000 [55 000–71 000],61,55–67],140 000,130 000–150 000],110 000,96 000–120 000],85 000,76 000–94 000],64 000,55 000–71 000]

In [205]:
df2['TherapyPercentage2018avg'] = df2.TherapyPercentage2018avg.str.replace(" ","")
df2['HIV2018avg']=df2.HIV2018avg.str.replace(" ","")
df2['HIV2018avg']=df2.HIV2018avg.str.replace("<","")
df2['HIV2010avg']=df2.HIV2010avg.str.replace(" ","")
df2['HIV2010avg']=df2.HIV2010avg.str.replace("<","")
df2['HIV2005avg']=df2.HIV2005avg.str.replace(" ","")
df2['HIV2005avg']=df2.HIV2005avg.str.replace("<","")
df2['HIV2000avg']=df2.HIV2000avg.str.replace(" ","")
df2['HIV2000avg']=df2.HIV2000avg.str.replace("<","")
df2['TherapyNumber2018']=df2.TherapyNumber2018.str.replace(" ","")
df2.head()
df2 = df2.astype({'TherapyPercentage2018avg':float,'TherapyNumber2018':float,'HIV2018avg':float,'HIV2010avg':float,'HIV2005avg':float,'HIV2000avg':float})

AttributeError: Can only use .str accessor with string values!

In [183]:
df2.drop(['TherapyPercentage2018','HIV2018','HIV2010','HIV2005','HIV2000'],axis=1,inplace=True)
df2.head()

KeyError: "['TherapyPercentage2018' 'HIV2018' 'HIV2010' 'HIV2005' 'HIV2000'] not found in axis"

In [173]:
df3.head()

,Country,Year,Total density per 100 000 population: Health posts,Total density per 100 000 population: Health centres,Total density per 100 000 population: District/rural hospitals,Total density per 100 000 population: Provincial hospitals,Total density per 100 000 population: Specialized hospitals,Total density per 100 000 population: Hospitals
0,Afghanistan,2013,2.95,1.22,0.18,0.10,0.09,0.37
1,Afghanistan,2010,2.87,1.19,0.18,0.10,0.08,NaN
2,Albania,2013,13.08,NaN,0.72,0.35,0.28,1.36
3,Albania,2010,12.95,NaN,0.72,0.34,0.28,NaN
4,Angola,2010,NaN,NaN,NaN,0.00,0.00,NaN

In [174]:
df4.head()

,Country,HIV (ARV) treatment 2014 in specialized facilities and services,HEPATITIS treatment 2014 in specialized facilities and services,HIV testing and councelling 2014 in specialized facilities and services,Hepatitis testing and councelling 2014 in specialized facilities and services,Hepatitis Vaccination 2014 in specialized facilities and services
0,NaN,2014,2014,2014,2014,2014
1,Country,HIV (ARV) treatment,HEPATITIS treatment,HIV testing and counselling,Hepatitis testing and counselling,Hepatitis vaccination
2,Afghanistan,No data,No data,Few (1-10%),Few (1-10%),Few (1-10%)
3,Albania,Few (1-10%),None,Few (1-10%),Few (1-10%),Few (1-10%)
4,Algeria,Few (1-10%),None,Few (1-10%),Few (1-10%),Few (1-10%)

In [175]:
df4.columns = ['Country','HIV (ARV) treatment 2014 in specialized facilities and services',
               'HEPATITIS treatment 2014 in specialized facilities and services',
               'HIV testing and councelling 2014 in specialized facilities and services',
               'Hepatitis testing and councelling 2014 in specialized facilities and services',
               'Hepatitis Vaccination 2014 in specialized facilities and services']

In [176]:
df44 = df4.drop([0,1])

In [177]:
df44.head()

,Country,HIV (ARV) treatment 2014 in specialized facilities and services,HEPATITIS treatment 2014 in specialized facilities and services,HIV testing and councelling 2014 in specialized facilities and services,Hepatitis testing and councelling 2014 in specialized facilities and services,Hepatitis Vaccination 2014 in specialized facilities and services
2,Afghanistan,No data,No data,Few (1-10%),Few (1-10%),Few (1-10%)
3,Albania,Few (1-10%),None,Few (1-10%),Few (1-10%),Few (1-10%)
4,Algeria,Few (1-10%),None,Few (1-10%),Few (1-10%),Few (1-10%)
5,Andorra,Most (61-100%),Most (61-100%),Most (61-100%),Most (61-100%),Most (61-100%)
6,Angola,No data,No data,No data,No data,No data

In [178]:
df33 = df3[df3['Year']==2013]

In [179]:
df33.head()

,Country,Year,Total density per 100 000 population: Health posts,Total density per 100 000 population: Health centres,Total density per 100 000 population: District/rural hospitals,Total density per 100 000 population: Provincial hospitals,Total density per 100 000 population: Specialized hospitals,Total density per 100 000 population: Hospitals
0,Afghanistan,2013,2.95,1.22,0.18,0.10,0.09,0.37
2,Albania,2013,13.08,NaN,0.72,0.35,0.28,1.36
5,Antigua and Barbuda,2013,NaN,NaN,NaN,NaN,1.11,1.11
7,Armenia,2013,8.00,0.54,1.81,1.58,0.64,4.03
9,Azerbaijan,2013,NaN,7.44,5.31,2.12,0.53,7.97

In [192]:
df2.head()

,TherapyNumber2018,TherapyPercentage2018avg,TherapyPercentageRange,HIV2018avg,HIV2018range,HIV2010avg,HIV2010range,HIV2005avg,HIV2005range,HIV2000avg,HIV2000range
Country,,,,,,,,,,,
Afghanistan,920,13,7–20],7200,4100–11 000],4200,2500–6200],2900,1700–5000],1600,1000–3500]
Albania,580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,12800,81,75–86],16000,15 000–17 000],7100,6600–7600],3700,3500–4000],1900,1700–2000]
Angola,88700,27,23–31],330000,290 000–390 000],220000,180 000–250 000],150000,120 000–170 000],87000,72 000–110 000]
Argentina,85500,61,55–67],140000,130 000–150 000],110000,96 000–120 000],85000,76 000–94 000],64000,55 000–71 000]

In [204]:

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143 entries, Afghanistan to Zimbabwe
Data columns (total 11 columns):
TherapyNumber2018           143 non-null float64
TherapyPercentage2018avg    136 non-null float64
TherapyPercentageRange      136 non-null object
HIV2018avg                  136 non-null float64
HIV2018range                136 non-null object
HIV2010avg                  136 non-null float64
HIV2010range                136 non-null object
HIV2005avg                  136 non-null float64
HIV2005range                136 non-null object
HIV2000avg                  136 non-null float64
HIV2000range                136 non-null object
dtypes: float64(6), object(5)
memory usage: 18.4+ KB

In [273]:
df220 = df2[['HIV2018avg','HIV2010avg','HIV2005avg','HIV2000avg']]
index221 = [(x,'2018') for x in df2.index]
index221 = pd.MultiIndex.from_tuples(index221,names=['country','date'])
df221 = pd.DataFrame({'TherapyNumber2018':df2['TherapyNumber2018'].to_list(),'TherapyPercentage2018avg':df2['TherapyPercentage2018avg'].to_list()},mulindex221)
df221.index = [df221.index.get_level_values(0),df221.index.get_level_values(1).astype(str)]
df220.columns=['2018','2010','2005','2000']
df220 = df220.stack().to_frame()
df220.index = [df220.index.get_level_values(0).rename('country'),df220.index.get_level_values(1).rename('date')]
df220.columns=['Average HIV patients']


df220 = df220.join(df221,on=['country','date'])

In [274]:
df220.head(20)

                  Average HIV patients  TherapyNumber2018  \
country     date
Afghanistan 2018                7200.0              920.0
            2010                4200.0                NaN
            2005                2900.0                NaN
            2000                1600.0                NaN
Algeria     2018               16000.0            12800.0
            2010                7100.0                NaN
            2005                3700.0                NaN
            2000                1900.0                NaN
Angola      2018              330000.0            88700.0
            2010              220000.0                NaN
            2005              150000.0                NaN
            2000               87000.0                NaN
Argentina   2018              140000.0            85500.0
            2010              110000.0                NaN
            2005               85000.0                NaN
            2000               64000.0                NaN
Armenia     2018                3500.0             1900.0
            2010                3300.0                NaN
            2005                2700.0                NaN
            2000                 950.0                NaN

                  TherapyPercentage2018avg
country     date
Afghanistan 2018                      13.0
            2010                       NaN
            2005                       NaN
            2000                       NaN
Algeria     2018                      81.0
            2010                       NaN
            2005                       NaN
            2000                       NaN
Angola      2018                      27.0
            2010                       NaN
            2005                       NaN
            2000                       NaN
Argentina   2018                      61.0
            2010                       NaN
            2005                       NaN
            2000                       NaN
Armenia     2018                      53.0
            2010                       NaN
            2005                       NaN
            2000                       NaN

In [259]:
df220.head(20)

                  Average HIV patients
Country
Afghanistan 2018                7200.0
            2010                4200.0
            2005                2900.0
            2000                1600.0
Algeria     2018               16000.0
            2010                7100.0
            2005                3700.0
            2000                1900.0
Angola      2018              330000.0
            2010              220000.0
            2005              150000.0
            2000               87000.0
Argentina   2018              140000.0
            2010              110000.0
            2005               85000.0
            2000               64000.0
Armenia     2018                3500.0
            2010                3300.0
            2005                2700.0
            2000                 950.0